@custom-black: #100e17;
@custom-white: #fff;
@custom-purple: #201c29;
@custom-orange: #ff8a00;
@custom-lilac: #312d3c;
@custom-pink: #e52e71;
@custom-gray: #7a7a8c;
@custom-dark-blue: #28242f;
@custom-light-pink: #ffb4b4;
