body > :not(:last-child) {
    margin-bottom: 20px;
}

.flex-item {
    padding: 15px;
    color: #ffffff;
    background: blue;
    font-size: 20px;
    margin-right: 10px;
}

.nowrap, 
.wrap,
.wrap-reverse {
    display: flex;
    padding: 10px;
    width: 100px;
    background: red;
}

.wrap {
   flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}






