* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    background: rgb(241, 221, 221);
}

/* HEADER-MENU */

.header-menu {
    padding: 30px 70px;
}

.header-menu ul {
    list-style: none;
    display: flex;
}

.header-menu ul :not(:last-child) {
    margin-right: 10px;
}

.container {
    padding: 20px 60px;
}

.theme {
   text-align: center;
}

/* HTML-TEXT */

.headers-tags {
    list-style-type: none;
    margin: 10px 0;
}

.headers-tags li {
    color: red;
}

.formatting-tags, 
.input-computer-text, 
.quotes-tags {
    margin: 10px 0;
    font-size: .9rem;
}

/* HTML-LINKS */

.html-links ol{
    list-style: none;
    counter-reset: li;
}

.html-links ol li:before {
    counter-increment: li;
    content: counters(li, '.') '. ';
}

/* HTML-IMAGES */

.images {
    display: flex;
}

.images :not(:last-child) {
    margin-right: 25px;
}

.image-item {
    width: 150px;
}

/* HTML-TABLE */

.html-table table,
.html-table table th,
.html-table table td {
    border: 1px solid gray;
}

.html-table table {
    border-collapse: collapse;
    width: 500px;
    text-align: center;
}

.html-table table caption:before {
    content: '\269B';
    margin-right: 10px;
}

.html-table table caption:after {
    content: '\269B';
    margin-left: 10px;
}

/* HTML-VIDEO */

.video-block {
    margin-left: calc(50% - 350px);
}

/* HTML-FORM */

.html-form form {
    width: 400px;
}

.html-form form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px;
}

.html-form form button:hover {
    color: blue;
}

/* FOOTER */

.footer-block {
    padding: 30px 80px;
    text-align: right;
}

/* TYPES-SELECTOR */

.types-selector > h2 {
    color: green;
}

.types-selector h2 + ul {
    list-style: none;
}

.types-selector > ul > li {
    color: red;
}

.types-selector > ul > li.first ~ li {
    color: blue;
}

/* .types-selector > ul > li[class="first"] {
    color: green;
} */

/* 
.types-selector > ul > li[class~="color"] {
    color: yellow;
} */

/* .types-selector > ul > li[class*="first"] {
    color: green;
} */

a[href^="#"] {
    color: darkgreen;
}

a:visited {
    color: darkgoldenrod;
}

a:hover{
    text-decoration: none;
}

input:not(#name) {
    border: 2px solid red;
}

.types-selector > ul > li:nth-child(odd) {
    border-bottom: 1px solid red;
}

.types-selector > ul > li:nth-child(even) {
    border-bottom: 1px solid yellow;
}

.types-selector > ul > li:nth-last-child(3) {
    text-decoration: line-through;
}

.types-selector > ul > li:only-child {
    color: orchid;
} 

/* PROPERTY POSITION */

/* Relative */

.relative-example {
    display: flex;
}

.relative1,
.relative2,
.relative3 {
    width: 100px;
    height: 100px;
}

.relative1 {
    background: red;
}

.relative2 {
    background: blue;
}

.relative3 {
    position: relative;
    top: 30px;
    left: 80px;
    background: orange;
}

/* Absolute */

.absolute-example {
    position: relative;
}

.absolute1,
.absolute2,
.absolute3 {
    width: 200px;
    height: 100px;
}

.absolute1 {
    background: blue;
}

.absolute2 {
    background:red;
    position: absolute;
    top: 10%;
}

.absolute3 {
    background: green;
}

/* Fixed */

.fixed {
    position: fixed;
    top: 10%;
    right: 0;
    width: 100px;
    height: 100px;
    background: green;
}

/* Sticky */

.sticky {
    height: 500px;
    width: 300px;
    overflow: auto;
    background: red;
    margin: 0 auto;
}

.sticky1, 
.sticky2,
.sticky3 {
    width: 100px;
}

.sticky1 {
    position: sticky;
    top: 0;
    height: 100px;
    text-transform: capitalize;
    background: blue;
}

.sticky2 {
    height: 700px;
    background: green;
}

.sticky3 {
    height: 50px;
    background: yellow;
}















